@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: bold;
}
.Home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  flex-wrap: wrap;
}
.leftContent {
  text-align: center;
}
.leftContent p {
  font-size: 26px;
}
.leftContent button {
  padding: 15px;
  margin: 30px;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
}
.leftContent button:hover {
  transform: scale(1.1);
}
#goFiles {
  background-color: #8ec5fc;
}
#upLoadFile {
  background-color: #ff99ac;
}
#logIn {
  background-color: #ff5acd;
}
.RightContent img {
  margin-top: 30px;
  width: 450px;
}
