@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
button {
  outline: none !important;
}
button[disabled] {
  filter: grayscale(100%);
  transform: none !important;
}
.App {
  margin: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: bold;
}
.Home {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 5rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.leftContent {
  display: flex;
  width: auto;
  text-align: center;
  justify-content: center;
}
.leftContent .containerCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.leftContent p {
  font-size: 26px;
}
.leftContent button {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  transition-duration: 0.2s;
  cursor: pointer;

  transition-timing-function: ease-in-out;
}
.leftContent button:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}
#goFiles {
  background-color: #8ec5fc;
}
#upLoadFile {
  background-color: #ff99ac;
}
#logIn {
  background-color: #ff5acd;
}
.RightContent img {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .Home {
    padding: 0 !important;
    word-wrap: break-word;
  }
  .Home h1 {
    font-size: 25px;
  }
  .leftContent .containerCenter {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .leftContent button {
    margin: 10px 2px;
    width: 100%;
  }
  .leftContent {
    width: 100%;
    margin: 0px !important;
  }
  .RightContent {
    margin: 0px !important;

    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RightContent img {
    width: 70%;
  }
}
